
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_DashboardVertical.cshtml";
}

<h2>Dashboard</h2>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        toaster.success("Login Successfully");
    });
</script>